# Basic Python Excersise

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [102]:
5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [103]:
x=int(input('Enter the no -'))
if x%2==0:
    print('The No is Even')
else:
    print('The No is odd',x)

Enter the no - 7

The No is odd 7

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [18]:
num=int(input('Enter the no:'))
for i in range(1,11):
    print(num,'x',i,'=',i*num)

Enter the no: 3

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [153]:
for i in range(2000,3200):
    if (i%7==0) and (i%5!=0):
       print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [143]:
n1=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [144]:
print(type(n1))

<class 'list'>

In [145]:
type_count={}
for i in n1:
    dtype=type(i).__name__
    type_count[dtype]=type_count.get(dtype,0) +1
print("Data type:",type_count)

Data type: {'int': 5, 'str': 4, 'float': 1, 'bool': 1, 'NoneType': 1}

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [112]:
r1=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [149]:
total_sum=0
for i in r1:
    if isinstance(i,(int,float)):
        total_sum+=i
print('Sum of numeric value:',total_sum)

Sum of numeric value: 22.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [146]:
num2=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [147]:
strings = [str(item) for item in num2 if isinstance(item, str)]
result = ' - '.join(strings)
print(result)

Py - 10 - SQL - John

In [148]:
ints=[str(item) for item in num2 if isinstance(item,int)and not isinstance(item, bool)]
result=' - '.join(ints)
print(result)

2 - 3 - 1 - 3 - 7

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [151]:
num3=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [152]:
def my_func(input_no):
    total_sum=0
    str_count=0
    for i in input_no:
          if isinstance(i,(int,float)) and not isinstance(i, bool):
              total_sum += i
          elif isinstance(i,str):
              str_count += 1
    return {'sum':total_sum,'Count_of_Strs': str_count}

result = my_func(num3)
print(result)

{'sum': 21.5, 'Count_of_Strs': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [167]:
l2 = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

### using loops

In [176]:
odd_numbers = []
for i in l2:
    if i %2!= 0:
        odd_numbers.append(i)
print(odd_numbers)

[5, 7, 97, 77, 23, 73, 61]

### ii. Use list comprehensions

In [180]:
odd_num = [i for i in l2 if i %2!=0]
print(odd_num)

[5, 7, 97, 77, 23, 73, 61]

### iii. Use lambda function with filter

In [189]:
def odd_num(n1):
    return n1 %2!=0
list(filter(odd_num,l2))

[5, 7, 97, 77, 23, 73, 61]

In [185]:
list(filter(odd_num,l2))

[5, 7, 97, 77, 23, 73, 61]

In [192]:
list(filter(lambda n1: n1%2!=0,l2))

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [48]:
def descriptives (numbers):
    total_sum = sum(numbers)
    count = len(numbers)
    minimum = min(numbers)
    mean = total_sum / count if count > 0 else 0
    maximum= max(numbers)
    return {'Sum':total_sum,'Count': count,'Min': minimum,'Mean': mean,'Max': maximum}
    
input_numbers=range(20,40)
result = descriptives(input_numbers)
print(result)

{'Sum': 590, 'Count': 20, 'Min': 20, 'Mean': 29.5, 'Max': 39}

In [51]:
n4=(456,45,32,456,23,76,76)

In [52]:
result = descriptives(n4)
print(result)

{'Sum': 1164, 'Count': 7, 'Min': 23, 'Mean': 166.28571428571428, 'Max': 456}

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

#The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, 
    then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [168]:
def shape_1(shape, **kwargs):
    if shape=='circle':
        area=3.14*kwargs['radius']**2
    elif shape=='square':
        area =kwargs['side']**2
    elif shape=='rectangle':
        area=0.5*kwargs['length'] * kwargs['height']
    return area

In [169]:
print(shape_1("circle", radius=5))

78.5

In [170]:
print(shape_1('rectangle',length=8,height=9))

36.0

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [27]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

In [40]:
def func(l1,l2):
    set1 = set(l1)
    set2 = set(l2)
    matched = list(set1.intersection(set2))
    set_in_l1 =list(set1 - set2)
    set_in_l2 =list(set2 - set1)
    return{
        'matched':matched,
        'set_in_l1':set_in_l1,
        'set_in_l2':set_in_l2  
         }
result=func(l1,l2)
print(result)

{'matched': ['December', 'June', 'February', 'January'], 'set_in_l1': ['September', 'March', 'May'], 'set_in_l2': ['October', 'April']}

In [38]:
n1=[456,45,32,456,23,76,76]
n2=[67,45,32,65,90,76,32]

In [41]:
result=func(n1,n2)
print(result)

{'matched': [32, 76, 45], 'set_in_l1': [456, 23], 'set_in_l2': [65, 90, 67]}

Q13: write a UDF to check if a number is prime or not.

In [82]:
def prime_no(numbers):
    if numbers <=1:
        return False
    elif numbers ==2:
       return True
    elif numbers %2==0:
       return False
    for i in range(3,int(numbers**0.5) + 1,2):
        if numbers %i ==0:
            return False
        return True

numbers=int(input('Enter the No'))
if prime_no(numbers):
    print(f"{numbers} is a prime number.")
else:
    print(f"{numbers} is not a prime number.")

Enter the No 47

47 is a prime number.

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [95]:
def factorial(n):
    if n == 1 or n == 0:
        return 1
    else:
        return n*factorial(n-1)
number=int(input('Enter the number:'))
result=factorial(number)
print(f'factorial of {number}:{result:,}')

Enter the number: 5

factorial of 5:120

In [100]:
def factorial1(n):
    result= 1
    for i in range(2,n+1):
        result*=i
    return result
number=int(input('Enter the number:'))
result=factorial(number)
print(f'factorial of {number}:{result:,}')

Enter the number: 4

factorial of 4:24

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [108]:
def sq_dect(n):
    square_dict={i: i*i for i in range(1,n+1)}
    return square_dict
n=int(input('Enter the no:'))
result=sq_dect(n)
print(result)

Enter the no: 6

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [110]:
n=int(input('Enter the no:'))
square_dict={i: i*i for i in range(1,n+1)}
print(square_dict)

Enter the no: 9

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [119]:
input_seq=input('Enter the no with comma sep')
number_list=input_seq.split(',')
num_tuple=tuple(number_list)
print('tuple',num_tuple)
print('list',number_list)

Enter the no with comma sep 30,34,35,67,89,23,23

tuple ('30', '34', '35', '67', '89', '23', '23')
list ['30', '34', '35', '67', '89', '23', '23']

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [120]:
words=input('Enter a comma sep words:')
word_list=words.split(',')
word_list.sort()
print(word_list)

Enter a comma sep words: heelo,zebra,ram,sunny,apple,fuck

['apple', 'fuck', 'heelo', 'ram', 'sunny', 'zebra']

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [129]:
seq_word=input('Enter the words with whitespace:')
word_list1=seq_word.split()
unique_word_list=sorted(set(word_list1))
result=" ".join(unique_word_list)
                  
print(result)

Enter the words with whitespace: i love you what are you doing

are doing i love what you

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [135]:
cal_word_no=input('Enter the sentence')
upper_count=0
lower_count=0

for i in cal_word_no:
    if i.isupper():
        upper_count +=1
    elif i.islower():
        lower_count +=1
print(f"UPPER CASE {upper_count},LOWER CASE {lower_count}")

Enter the sentence Hello Madam How Are you

UPPER CASE 4,LOWER CASE 15

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [140]:
reversed_st=input('Enter the strings')
word2=reversed_st[::-1]
print(word2)

Enter the strings 657hello darling

gnilrad olleh756